<section id="h3_block10" class="section section-bg" style="background-image: url({{frontpageimglink}}bg/bg_3.png);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title wow fadeInUp">
                    <p class="subtitle">
                        <i class="fal fa-book"></i>
                        <span lang="en" class="multilang" style="display:none;">{{h3_10_block_headline_1}}</span>
                        <span lang="tr" class="multilang" style="display:none;">{{h3_10_block_headline_2}}</span>
                        
                    </p>
                    <h3 class="title"> <span lang="en" class="multilang" style="display:none;">{{h3_10_block_header_1}}</span>
                        <span lang="tr" class="multilang" style="display:none;">{{h3_10_block_header_2}}</span></h3>
                </div>
            </div>
        </div>
        <div class="testimonial_slider_main mb-xl-30 justify-content-center wow fadeInDown">
            {{#h3_10_block}}
            <div class="slide-item row">
                <div class="testimonial_item style_3 col-lg-7">
                    <p class="comment">
                        <span lang="en" class="multilang" style="display:none;">{{comment}}</span>
                        <span lang="tr" class="multilang" style="display:none;">{{comment_2}}</span>
                    </p>
                </div>
            </div>
            {{/h3_10_block}}
        </div>
        <div class="row justify-content-center">
            <div class="testimonial_slider_nav col-lg-7">
                {{#h3_10_block}}
                <div class="slide-item">
                    <div class="testimonial_item_img">
                        <img src="{{frontpageimglink}}author/{{counter}}.jpg" class="image-fit" alt="img">
                    </div>
                </div>
                {{/h3_10_block}}
            </div>
        </div>
    </div>
</section>