<section id="h3_block05" class="skills-sec relative z-1">
    <div class="container-fluid p-0 h-100">
        <div class="row no-gutters h-100">
            <div class="col-lg-6">
                <div class="section-bg h-100" style="background-color:#2a3535;"></div>
            </div>
            <div class="col-lg-6">
                <!--<img src="{{frontpageimglink}}skills.jpg" class="image-fit" alt="img">-->
                <div style="background-color:#2a3535;width:100%;background-size:cover;height:100%;" class="section-bg h-100"></div>
            </div>
        </div>
    </div>
    <div class="transform-center">
        <div class="container">
            <div class="row" style="align-items:center;">
                <div class="col-6">
                    <div class="section-title left-align white wow fadeInUp">
                        <p class="subtitle">
                            <i class="fal fa-book"></i>
                            <span lang="en" class="multilang" style="display:none;">{{h3_05_block_headline_1}}</span>
                            <span lang="tr" class="multilang" style="display:none;">{{h3_05_block_headline_2}}</span>
                           
                        </p>
                        <h3 class="title">
                        <span lang="en" class="multilang" style="display:none;">{{h3_05_block_header_1}}</span>
                        <span lang="tr" class="multilang" style="display:none;">{{h3_05_block_header_2}}</span>
                        </h3>
                        <p class="thm-color-white">
                            <span lang="en" class="multilang" style="display:none;">{{h3_05_block_maintitle_1}}</span>
                            <span lang="tr" class="multilang" style="display:none;">{{h3_05_block_maintitle_2}}</span>
                        </p>
                        <span style="color: #d6d6d6;">Ref: International Coaching Psychology Review - 2020</span>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8">
                <h3 style="
                        color: white;
                        text-align: center;
                    ">
                    <span lang="en" class="multilang" style="display:none;">Increase In</span>
                    <span lang="tr" class="multilang" style="display:none;">Koçlukla Görülen Artış</span>
                    </h3>
                    <div class="row justify-content-center">
                        <div class="col-md-4 col-sm-6">
                            <div class="progress_box grid wow fadeInDown" data-wow-delay=".20ms">
                                <div class="circle_bar" data-percent="{{h3_05_block_circle_num_1}}" data-track-color="#ecf2ff" data-bar-color="#4b83fb" data-size="80">
                                    <div class="counter transform-center text-center">
                                        <b data-from="0" data-to="{{h3_05_block_circle_num_1}}">0</b>
                                    </div>
                                </div>
                                <div class="text">
                                    <h5 class="mb-0" style="font-size:16px;">
                                    <span lang="en" class="multilang" style="display:none;">{{h3_05_block_circle_txt1_1}}</span>
                                    <span lang="tr" class="multilang" style="display:none;">{{h3_05_block_circle_txt3_1}}</span>
                                    <br>
                                    <span lang="en" class="multilang" style="display:none;">{{h3_05_block_circle_txt2_1}}</span>
                                    <span lang="tr" class="multilang" style="display:none;">{{h3_05_block_circle_txt4_1}}</span>
                                        </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="progress_box grid wow fadeInUp" data-wow-delay=".30ms">
                                <div class="circle_bar" data-percent="{{h3_05_block_circle_num_2}}" data-track-color="#ecf2ff" data-bar-color="#65cfa9" data-size="80">
                                    <div class="counter transform-center text-center">
                                        <b data-from="0" data-to="{{h3_05_block_circle_num_2}}">0</b>
                                    </div>
                                </div>
                                <div class="text">
                                    <h5 class="mb-0" style="font-size:16px;">
                                    <span lang="en" class="multilang" style="display:none;">{{h3_05_block_circle_txt1_2}}</span>
                                    <span lang="tr" class="multilang" style="display:none;">{{h3_05_block_circle_txt3_2}}</span><br>
                                        <span lang="en" class="multilang" style="display:none;">{{h3_05_block_circle_txt2_2}}</span>
                                    <span lang="tr" class="multilang" style="display:none;">{{h3_05_block_circle_txt4_2}}</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="progress_box grid fadeInDown" data-wow-delay=".40ms">
                                <div class="circle_bar" data-percent="{{h3_05_block_circle_num_3}}" data-track-color="#ecf2ff" data-bar-color="#ffbd3f" data-size="80">
                                    <div class="counter transform-center text-center">
                                        <b data-from="0" data-to="{{h3_05_block_circle_num_3}}">0</b>
                                    </div>
                                </div>
                                <div class="text">
                                    <h5 class="mb-0" style="font-size:16px;"><span lang="en" class="multilang" style="display:none;">{{h3_05_block_circle_txt1_3}}</span>
                                    <span lang="tr" class="multilang" style="display:none;">{{h3_05_block_circle_txt3_3}}</span><br>
                                        <span lang="en" class="multilang" style="display:none;">{{h3_05_block_circle_txt2_3}}</span>
                                    <span lang="tr" class="multilang" style="display:none;">{{h3_05_block_circle_txt4_3}}</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section about_inner" style="background:#2e4242;">
    <div class="container">
        <div class="row ">

            <!--<div class="col-lg-3">
                <div class="image_box shadow_1 mb-md-80 wow fadeInLeft">
                    <img src="{{frontpageimglink}}about/about.jpg" alt="img" class="image-fit">
                </div>
            </div>-->
            <div class="col-lg-12">
                <div class="section-title left-align wow fadeInDown" style="max-width:100% !important;">
                    <p class="subtitle"  style="color:white;">
                        <i class="fal fa-book"></i>
                        <span lang="en" class="multilang" style="display:none;">{{page_02_s1_subtitle_1}}</span>
                        <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_subtitle_2}}</span>
                        
                    </p>
                    <h3 class="title"  style="color:white;">
                    <span lang="en" class="multilang" style="display:none;">{{page_02_s1_title_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_title_2}}</span>
                    </h3>
                    <!--<p>
                    <span lang="en" class="multilang" style="display:none;">{{page_02_s1_caption_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_caption_2}}</span>
                    </p> -->
                </div>
                <style>
        .about-link-box {
            align-items:center;
            padding: 6px 12px;
            background: #00000017;
            border-radius: 10px;
        }

        .about-link-box:hover {
            background: #00000024;
            cursor: pointer;
            transition: 0.3s;
        }

        .about-link-box.active {
            background: #00000024;
        }

        .about-box-description-text {
            color: white;
        }
    </style>
    
    <script>
        window.onload = () => {
            for(let i = 1; i < 5; i++) {
                document.querySelector('#about-link-'+i).addEventListener('click', () => {
                    for(let j = 1; j < 5; j++) {
                        document.querySelector('#about-box-content-'+j).style.display = "none";
                        document.querySelector('#about-link-'+j).classList.remove('active');
                    }
                    document.querySelector('#about-box-content-'+i).style.display = "block";
                    document.querySelector('#about-link-'+i).classList.add('active');
                });
            }
        };
    </script>

    <div class="row">
        <div class="col-md-4" style="display:flex;flex-direction:column;">
            <ul class="about_list row">
                <li id="about-link-1" class="col-md-12 wow fadeInUp about-link-box active">
                    <div class="icon">
                        <img src="{{frontpageimglink}}icons/icon-leadership.png" alt="img" class="image-fit">
                    </div>
                    <div class="text">
                        <h6 class="mb-2" style="color:white;">
                        <span lang="en" class="multilang" style="display:none;">{{page_02_s1_header_1_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_header_1_2}}</span>
                        </h6>
                        <!--<p class="mb-0"><span lang="en" class="multilang" style="display:none;">{{page_02_s1_text_1_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_text_1_2}}</span></p>-->
                    </div>
                </li>
            </ul>
            <ul class="about_list row">
                <li id="about-link-2" class="col-md-12 wow fadeInDown about-link-box">
                    <div class="icon">
                        <img src="{{frontpageimglink}}icons/icon-transformation.png" alt="img" class="image-fit">
                    </div>
                    <div class="text">
                        <h6 class="mb-2" style="color:white;"><span lang="en" class="multilang" style="display:none;">{{page_02_s1_header_2_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_header_2_2}}</span></h6>
                        <!--<p class="mb-0"><span lang="en" class="multilang" style="display:none;">{{page_02_s1_text_2_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_text_2_2}}</span></p>-->
                    </div>
                </li>
            </ul>
            <ul class="about_list row">
                <li id="about-link-3" class="col-md-12 wow fadeInUp about-link-box">
                    <div class="icon">
                        <img src="{{frontpageimglink}}icons/icon-talent.png" alt="img" class="image-fit">
                    </div>
                    <div class="text">
                        <h6 class="mb-2" style="color:white;">
                        <span lang="en" class="multilang" style="display:none;">{{page_02_s1_header_3_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_header_3_2}}</span>
                        </h6>
                        <!--<p class="mb-0"><span lang="en" class="multilang" style="display:none;">{{page_02_s1_text_3_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_text_3_2}}</span></p>-->
                    </div>
                </li>
            </ul>
            <ul class="about_list row">
                <li id="about-link-4" class="col-md-12 wow fadeInDown about-link-box">
                    <div class="icon">
                        <img src="{{frontpageimglink}}icons/icon-individual.png" alt="img" class="image-fit">
                    </div>
                    <div class="text">
                        <h6 class="mb-2" style="color:white;"><span lang="en" class="multilang" style="display:none;">{{page_02_s1_header_4_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_header_4_2}}</span></h6>
                        <!--<p class="mb-0"><span lang="en" class="multilang" style="display:none;">{{page_02_s1_text_4_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_text_4_2}}</span></p>-->
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div id="about-box-content-1" class="about-box-description-text"> 
                <h6 class="mb-2" style="color:white;">
                        <span lang="en" class="multilang" style="display:none;">{{page_02_s1_header_1_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_header_1_2}}</span>
                </h6>
                <p class="mb-0" ><span lang="en" class="multilang" style="display:none;">{{page_02_s1_text_1_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_text_1_2}}</span></p>
            </div>
            <div id="about-box-content-2" style="display:none;" class="about-box-description-text"> 
                <h6 class="mb-2" style="color:white;">
                        <span lang="en" class="multilang" style="display:none;">{{page_02_s1_header_2_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_header_2_2}}</span>
                </h6>
                <p class="mb-0" ><span lang="en" class="multilang" style="display:none;">{{page_02_s1_text_2_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_text_2_2}}</span></p>
            </div>
            <div id="about-box-content-3" style="display:none;" class="about-box-description-text"> 
                <h6 class="mb-2" style="color:white;">
                        <span lang="en" class="multilang" style="display:none;">{{page_02_s1_header_3_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_header_3_2}}</span>
                </h6>
                <p class="mb-0" ><span lang="en" class="multilang" style="display:none;">{{page_02_s1_text_3_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_text_3_2}}</span></p>
            </div>
            <div id="about-box-content-4" style="display:none;" class="about-box-description-text"> 
                <h6 class="mb-2" style="color:white;">
                        <span lang="en" class="multilang" style="display:none;">{{page_02_s1_header_4_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_header_4_2}}</span>
                </h6>
                <p class="mb-0" ><span lang="en" class="multilang" style="display:none;">{{page_02_s1_text_4_1}}</span>
                <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_text_4_2}}</span></p>
            </div>
        </div>
    </div>
                <!--<ul class="about_list row">
                    <li class="col-md-6 wow fadeInUp">
                        <div class="icon">
                            <img src="{{frontpageimglink}}icons/icon-leadership.png" alt="img" class="image-fit">
                        </div>
                        <div class="text">
                            <h6 class="mb-2">
                            <span lang="en" class="multilang" style="display:none;">{{page_02_s1_header_1_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_header_1_2}}</span>
                            </h6>
                            <p class="mb-0"><span lang="en" class="multilang" style="display:none;">{{page_02_s1_text_1_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_text_1_2}}</span></p>
                        </div>
                    </li>
                    <li class="col-md-6 wow fadeInDown">
                        <div class="icon">
                            <img src="{{frontpageimglink}}icons/icon-transformation.png" alt="img" class="image-fit">
                        </div>
                        <div class="text">
                            <h6 class="mb-2"><span lang="en" class="multilang" style="display:none;">{{page_02_s1_header_2_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_header_2_2}}</span></h6>
                            <p class="mb-0"><span lang="en" class="multilang" style="display:none;">{{page_02_s1_text_2_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_text_2_2}}</span></p>
                        </div>
                    </li>
                    <li class="col-md-6 wow fadeInUp">
                        <div class="icon">
                            <img src="{{frontpageimglink}}icons/icon-talent.png" alt="img" class="image-fit">
                        </div>
                        <div class="text">
                            <h6 class="mb-2">
                            <span lang="en" class="multilang" style="display:none;">{{page_02_s1_header_3_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_header_3_2}}</span>
                            </h6>
                            <p class="mb-0"><span lang="en" class="multilang" style="display:none;">{{page_02_s1_text_3_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_text_3_2}}</span></p>
                        </div>
                    </li>
                    <li class="col-md-6 wow fadeInDown">
                        <div class="icon">
                            <img src="{{frontpageimglink}}icons/icon-individual.png" alt="img" class="image-fit">
                        </div>
                        <div class="text">
                            <h6 class="mb-2"><span lang="en" class="multilang" style="display:none;">{{page_02_s1_header_4_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_header_4_2}}</span></h6>
                            <p class="mb-0"><span lang="en" class="multilang" style="display:none;">{{page_02_s1_text_4_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_text_4_2}}</span></p>
                        </div>
                    </li>
                </ul> -->
                <!--<a href="{{page_02_s1_button_link}}" class="thm-btn bg-thm-color-three thm-color-three-shadow btn-rectangle wow fadeInDown">
                    <span lang="en" class="multilang" style="display:none;">{{page_02_s1_button_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s1_button_2}}</span>
                    <i class="fal fa-chevron-right ml-2"></i>
                </a> -->
            </div>
        </div>
    </div>
</section>

<section class="section section-bg about_bg about style_2" style="background-image: url({{frontpageimglink}}bg/bg_1.png);">
    <div class="container">
        <div class="row justify-content-between flex-row-reverse">
            <div class="col-lg-6">
                <div class="image_boxes style_2 relative z-1 h-100">
                    <img src="{{frontpageimglink}}emre-aysegul.jpg" style="width:220px;border-radius:10px;" class="small_img wow fadeInUp" alt="img">
                    <div class="video_warp style_2 relative z-1 big_img wow fadeInDown">
                        <img src="{{frontpageimglink}}about/about_img_2.jpg" alt="img">
                        <a href="{{page_02_s3_video_link}}" class="popup-youtube transform-center justify-content-center d-flex">
                            <iframe  width="600" height="600" loop autoplay src="https://www.youtube.com/embed/RknuYFx8--A" title="Waytogo Digital Coaching - 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </a>
                    </div>
                    <!-- elements -->
                    <img src="{{frontpageimglink}}elements/element_22.png" class="element_1" alt="Element">
                    <img src="{{frontpageimglink}}elements/element_23.png" class="element_2 rotate_elem" alt="Element">
                    <img src="{{frontpageimglink}}elements/element_24.png" class="element_3 rotate_elem" alt="Element">
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 mb-md-80">
                <div class="section-title left-align wow fadeInUp">
                    <p class="subtitle">
                        <i class="fal fa-book"></i>
                        <span lang="en" class="multilang" style="display:none;">{{page_02_s3_headline_1}}</span>
                        <span lang="tr" class="multilang" style="display:none;">{{page_02_s3_headline_2}}</span>
                        
                    </p>
                    <h3 class="title">
                    <span lang="en" class="multilang" style="display:none;">{{page_02_s3_header_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s3_header_2}}</span>
                    </h3>
                    <p class="mb-0">
                    <span lang="en" class="multilang" style="display:none;">{{page_02_s3_maintext_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s3_maintext_2}}</span>
                    </p>
                </div>
                <ul class="about_list style_2 mb-xl-30 wow fadeInDown">
                    <li>
                    <span lang="en" class="multilang" style="display:none;">{{page_02_s3_three_text_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s3_three_text_4}}</span> 
                    </li>
                    <li>
                    <span lang="en" class="multilang" style="display:none;">{{page_02_s3_three_text_2}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s3_three_text_5}}</span>
                    </li>
                    <li>
                    <span lang="en" class="multilang" style="display:none;">{{page_02_s3_three_text_3}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{page_02_s3_three_text_6}}</span>
                
                    </li>
                </ul>
                <!--<a href="{{page_02_s3_btn_link}}" class="thm-btn bg-thm-color-two thm-color-two-shadow btn-rectangle wow fadeInUp">
                    {{page_02_s3_btn}}
                    <i class="fal fa-chevron-right ml-2"></i>
                </a> -->
            </div>
        </div>
    </div>
</section>

<section style="padding:0;width:100% !important;user-select:none;">
    <span lang="en" class="multilang" style="display:none;width:100%;">
        <img style="width:100%;" src="{{frontpageimglink}}top-coaching-topics-en.png?v=0.2" alt="img">
    </span>
    <span lang="tr" class="multilang" style="display:none;width:100%;">
        <img style="width:100%;" src="{{frontpageimglink}}top-coaching-topics-tr.png?v=0.2" alt="img">
    </span> 
</section>

<section class="section-padding" style="background:#2e4142">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title wow fadeInDown">
                    <p class="subtitle">
                        <i class="fal fa-book"></i>
                        <span lang="en" class="multilang" style="display:none;">{{h1_04_block_headline_1}}</span>
                        <span lang="tr" class="multilang" style="display:none;">{{h1_04_block_headline_2}}</span>
                    </p>
                    <h3 class="title"  style="color:white;">
                    <span lang="en" class="multilang" style="display:none;">{{h1_04_block_header_1}}</span>
                    <span lang="tr" class="multilang" style="display:none;">{{h1_04_block_header_2}}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Block Start -->
            {{#h1_04_block}}
            <style>
            .team_block.style_2 {
                background-color: #efd8b9;
            }
            </style>
            <div class="col-lg col-md-6">
                <div class="team_block style_2 wow fadeInDown">
                    <div class="team_img">
                        <img src="{{userpictureURL}}" alt="img" data-wow-delay=".{{counter}}ms" class="image-fit">
                        <a href="{{team_detail_lnk}}" class="thm-btn bg-thm-color-two thm-color-two-shadow btn-circle link">
                            <i class="fal fa-plus"></i>
                        </a>
                    </div>
                    <h6 class="mb-1"><a href="{{team_detail_lnk}}">{{teachername}}</a></h6>
                    <p class="thm-color-two mb-0 font-weight-bold">{{job}}</p>
                </div>
            </div>
            {{/h1_04_block}}
        </div>
    </div>
</section>

<section id="page_02_s6" class="section-padding">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-auto">
                <div class="sponsors_img">
                    <img src="{{frontpageimglink}}sponsors/1.png?v=0.1" alt="img">
                </div>
            </div>
            <div class="col-auto">
                <div class="sponsors_img">
                    <img src="{{frontpageimglink}}sponsors/2.png?v=0.1" alt="img">
                </div>
            </div>
            <!--<div class="col-auto">
                <div class="sponsors_img">
                    <img src="{{frontpageimglink}}sponsors/3.png" alt="img">
                </div>
            </div>
            <div class="col-auto">
                <div class="sponsors_img">
                    <img src="{{frontpageimglink}}sponsors/4.png" alt="img">
                </div>
            </div>
            <div class="col-auto">
                <div class="sponsors_img">
                    <img src="{{frontpageimglink}}sponsors/5.png" alt="img">
                </div>
            </div> -->
        </div>
    </div>
</section>