<section id="h4_02_block" class="section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title left-align wow fadeInUp">
                    {{#h4_02_block_headline}}
                    <p class="subtitle">
                        <i class="fal fa-book"></i>
                        {{{h4_02_block_headline}}}
                    </p>
                    {{/h4_02_block_headline}}
                    <h3 class="title">{{{h4_02_block_header}}}</h3>
                    <p>{{{h4_02_block_maintitle}}}</p>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                {{#loginusername}}
                    <h5 class="title">
                        <span class="text-primary"> {{{h4_02_block_welcome}}}</span>
                        <span>{{{h4_02_block_username}}}</span>
                    </h5>
                    {{{h4_02_block_userimg}}}
                {{/loginusername}}
                {{^loginusername}}
                <div class="card p-5">
                    <div class="row">
                        <div class="col-5">
                            <div class="h-100 d-flex align-items-center">
                                <img src="{{frontpageimglink}}about-img.svg" class="img-fluid"  alt="img">
                            </div>
                        </div>
                        <div class="col-7 float-right">
                            <div class="logo text-center pb-3">
                                <a href="{{{ config.homeurl }}}">
                                {{# output.should_display_navbar_logo }}
                                        <img src="{{output.get_compact_logo_url}}" class="image-fit" alt="{{sitename}}">
                                    {{/ output.should_display_navbar_logo }}
                                    {{^ output.should_display_navbar_logo }}
                                        {{{ sitename }}}
                                    {{/ output.should_display_navbar_logo }}
                                </a>
                            </div>
                            <form action="login/index.php" method="post" id="login">
                                <input type="hidden" name="logintoken" value="{{logintoken}}">
                                <div class="login-form-username form-group">
                                    <label for="username" class="sr-only">
                                        {{#str}} username {{/str}}
                                    </label>
                                    <input type="text" name="username" id="username" class="form-control form-control-lg" 
                                        value="{{loginusername}}" placeholder="{{#str}} username {{/str}}" autocomplete="username">
                                </div>
                                <div class="login-form-password form-group">
                                    <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
                                    <input type="password" name="password" id="password" value="" 
                                        class="form-control form-control-lg" placeholder="{{#str}} password {{/str}}" 
                                        autocomplete="current-password">
                                </div>
                                <div class="login-form-submit form-group">
                                    <button class="btn btn-primary" type="submit" id="loginbtn">{{#str}}login{{/str}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {{/loginusername}}
            </div>
        </div>
    </div>
</section>