    <div id="h1_block09" class="section-padding pt-0">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-auto">
                    <div class="sponsors_img">
                        <img src="{{frontpageimglink}}sponsors/1.png" alt="img">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sponsors_img">
                        <img src="{{frontpageimglink}}sponsors/2.png" alt="img">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sponsors_img">
                        <img src="{{frontpageimglink}}sponsors/3.png" alt="img">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sponsors_img">
                        <img src="{{frontpageimglink}}sponsors/4.png" alt="img">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sponsors_img">
                        <img src="{{frontpageimglink}}sponsors/5.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>