/* Moodle orjinal frontpage settings */
.wellkosetup {
    display: block;
    #page {
        margin-top: 40px;
        margin-bottom: 45px;
    }
    #page-content {
        height: auto;
    }
    #region-main {
        height: auto;
        padding-bottom: 40px;
        overflow-x: auto;
        overflow-y: visible;
        #site-news-forum,
        #frontpage-available-course-list,
        #frontpage-category-names,
        #frontpage-category-combo,
        #frontpage-course-list {
            display: block !important;
        }
        .simplesearchform,
        .skip-block-to,
        .buttons {
            display: none !important;
        }
        .box {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
    .modal .close {
        color: blueviolet;
        display: block;
        padding: initial;
        text-shadow: none;
        margin-left: auto;
    }
    .course-section-header {
        background-color: transparent !important;
    }
}
