// Dark dashboard colors
:root {
    --color-dl-grey-b:#414141;
    --color-dl-red:#FFCCCC;
}
body.dark-dashboard {
    --color-dl-bg-black-dark: #121212;
    --color-dl-bg-black: #1F2227;
    --color-dl-white-bsc: #FFFFFF;
    --color-dl-yellow-a: #EAFAA1;
    --color-dl-yellow-b:#DCF763;
    --color-dl-red:#FFCCCC;
    --color-dl-orange:#FFE6C8;
    --color-dl-green: #C6F5CB;
    --color-dl-card-black: #000001;
    --color-dl-grey-a:#E0E0E0;
    --color-dl-grey-b:#414141;
}
