<footer id="other_footer02" class="footer bg-thm-color-two-gradient style_2 z-1" style="background-image:url({{frontpageimglink}}elements/element_15.png);">
        <img src="{{frontpageimglink}}elements/element_13.png" class="element_1" alt="Element">
        <img src="{{frontpageimglink}}elements/element_14.png" class="element_2" alt="Element">
        <div class="container relative z-1">
            <div class="footer_top section-padding">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="ft_widget ft_about wow fadeInDown" >
                            <a href="#" class="logo">
                                {{#footer_logo_sm}}
                                {{#output.get_compact_logo_url}}
                                    <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
                                {{/output.get_compact_logo_url}} 
                                {{^output.get_compact_logo_url}}
                                    <div class="footer-site-name">
                                        <div class="h1">{{{footer_col1_header}}}</div>
                                    </div>
                                {{/output.get_compact_logo_url}}
                                {{/footer_logo_sm}}

                                {{#footer_logo}}
                                {{#output.get_logo_url}}     
                                    <img src="{{output.get_logo_url}}" alt="{{sitename}}">
                                {{/output.get_logo_url}} 
                                {{^output.get_logo_url}}
                                    <div class="footer-site-name">
                                        <div class="h1">{{{footer_col1_header}}}</div>
                                    </div> 
                                {{/output.get_logo_url}} 
                                {{/footer_logo}}

                                {{^footer_logo_sm}}
                                {{^footer_logo}}
                                <div class="footer-site-name">
                                    <div class="h1">{{{footer_col1_header}}}</div>
                                </div> 
                                {{/footer_logo}} 
                                {{/footer_logo_sm}}  
                            </a>
                            
                               {{{footer_col1_caption}}}
                            
                             {{{footer_social}}}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ft_widget ft_menu wow fadeInUp">
                            <h6 class="ft-title">{{footer_col2_header}}</h6>
                            <ul>
                                {{{footer_col2_link}}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ft_widget ft_menu wow fadeInDown">
                            <h6 class="ft-title">{{footer_col3_header}}</h6>
                            <ul>
                                {{{footer_col3_link}}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ft_widget ft_newsletter wow fadeInUp">
                            <h6 class="ft-title">{{footer_col4_header}}</h6>
                            <p class="mb-xl-20">{{{footer_col4_caption}}}</p>
                            {{#footer_email}}
                            <form action="../../local/contact/index.php" method="post">
                                <input type="email" name="email" placeholder="Enter Your Email" autocomplete="off" required="">
                                <button type="submit" name="submit" class="thm-btn bg-thm-color-three thm-color-three-shadow btn-rounded">Subscribe Now 
                                    <i class="fal fa-chevron-right ml-2"></i>
                                </button>
                                <input type="hidden" name="name" value="FOOTER-2">
                                <input type="hidden" name="message" value="SUBSCRIBE NOW">
                                <input type="hidden" name="sesskey" value="{{sesskey}}">
                            </form>
                            {{/footer_email}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom d-flex justify-content-center">
                {{> theme_wellko/frontpage/setup-button }} 
                <p class="mb-0">
                    {{{footer_copyright}}}
                </p>
            </div>
            <img src="{{frontpageimglink}}elements/element_16.png" alt="element" class="element_3 rotate_elem">
            <div class="arrows to_up slideTop">
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
            </div>
        </div>
        {{> theme_wellko/frontpage/theme }}
    </footer>