<div class="subheader relative z-1" {{$page_subhdimg_0}}{{{ page_subhdimg_content_0 }}}{{/page_subhdimg_0}}>
    <div class="container relative z-1">
        <div class="row">
            <div class="col-12">
                <h1 class="page_title" {{$page_subhdimg_1}}{{{ page_subhdimg_content_1 }}}{{/ page_subhdimg_1 }}>
                    {{$page_subhdimg_2}}{{{ page_subhdimg_content_2 }}}{{/ page_subhdimg_2 }}
                </h1>
                <div class="page_breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">{{#str}} home, moodle {{/str}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{$page_subhdimg_2}}{{{ page_subhdimg_content_2 }}}{{/ page_subhdimg_2 }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        {{$page_subhdimg_3}}
            {{{ page_subhdimg_content_3 }}}
        {{/ page_subhdimg_3 }}
    </div>
</div>