{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page Portfolio Details.
}}
{{> theme_wellko/frontpage/navbar/header3 }}
<!-- Subheader Start -->
{{< theme_wellko/frontpage/page/page_subhdr }}
    
    {{$page_subhdimg_0}}
        {{#page_20_page_subhdimg}}style="background-image: url({{frontpageimglink}}{{page_20_page_subhdimg}});"{{/page_20_page_subhdimg}}
        {{^page_20_page_subhdimg}}style="padding: 70px 0 28px;"{{/page_20_page_subhdimg}}
    {{/page_subhdimg_0}}    

    {{$page_subhdimg_1}}
        {{^page_20_page_subhdimg}}style="font-size: 45px;"{{/page_20_page_subhdimg}}
    {{/page_subhdimg_1}}

    {{$page_subhdimg_2}}
        {{page_20_page_title}}
    {{/page_subhdimg_2}}

    {{$page_subhdimg_3}}
        {{#page_20_page_subhdimg}}
            {{> theme_wellko/frontpage/page/page_subhdr_elm }}
        {{/page_20_page_subhdimg}}
    {{/page_subhdimg_3}}

{{/ theme_wellko/frontpage/page/page_subhdr }}
<!-- Subheader End -->
<!-- Portfolio details Start -->
<!-- Section Start -->
{{#page_20_s1_enabled}}
<section class="section portfolio_details">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="detail_img">
                    <img src="{{frontpageimglink}}portfolio/details_img.jpg" alt="img" class="image-fit">
                </div>
            </div>
            {{{page_20_s1_html}}}
        </div>
    </div>
</section>
{{/page_20_s1_enabled}}
<!-- Section End -->
{{#page_20_s2_enabled}}
<div class="portfolio_nav">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Post Navigation Start -->
                <ul class="post_navigation section-padding">
                    {{#h2_09_block}}
                    <li>
                        <div class="image">
                            <img src="{{imgurl}}" alt="img" class="image-fit rounded">
                        </div>
                        <div class="text">
                            <h6 class="mb-0">
                                <a href="{{post_detail_lnk}}">{{subject}}</a>
                            </h6>
                            <p class="mb-0"><strong><i class="fal fa-calendar-alt"></i> </strong><a href="{{post_detail_lnk}}">{{lastmodified}}</a></p>
                        </div>
                    </li>
                    {{/h2_09_block}}
                </ul>
                <!-- Post Navigation End -->
            </div>
        </div>
    </div>
</div>
{{/page_20_s2_enabled}}
<!-- Related Start -->
{{#page_20_s3_enabled}}
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="fw-600">Related Project</h3>
            </div>
        </div>
        <div class="row">
            <!-- Portfolio Start -->
            {{#page_17_s1}}
            <div class="col-lg-4 col-md-6">
                <div class="portfolio_box">
                    <div class="portfolio_img">
                        <img src="{{frontpageimglink}}portfolio/{{counter}}.jpg" class="image-fit" alt="img">
                    </div>
                    <div class="portfolio_caption">
                        <div class="text_box">
                            <h4 class="title mb-0">
                                <a href="{{link}}">{{title}}</a>
                            </h4>
                            <p>{{category}}</p>
                        </div>
                        <div class="btn_box mb-xl-30">
                            <a href="{{link}}" class="thm-btn bg-thm-color-two-light thm-color-two btn-rectangle btn-small"><i class="fal fa-chevron-right font-weight-bold"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {{/page_17_s1}}
            <!-- Portfolio End -->
        </div>
    </div>
</section>
{{/page_20_s3_enabled}}
<!-- Related End -->
<!-- Cta Start -->
{{#page_20_s4_enabled}}
<section class="cta_box style_2">
    <div class="container relative z-2">
        <div class="bg-thm-color-two cta_box_inner z-2 mb-negative">
            <img src="{{frontpageimglink}}elements/shape.png" alt="shape" class="shape_1 zoom-fade">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div class="text_block wow fadeInLeft">
                        <div class="section-title left-align white">
                            <p class="subtitle">
                            <i class="fal fa-book"></i>
                                {{page_20_s4_headline}}
                            </p>
                            <h3 class="title">{{page_20_s4_header}}</h3>
                            <a href="{{page_20_s2_button_lnk}}" class="thm-btn bg-thm-color-three thm-color-three-shadow btn-rectangle">
                                {{page_20_s4_button}} 
                                <i class="fal fa-chevron-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="image_box relative z-1 wow fadeInRight">
                        <img src="{{frontpageimglink}}elements/square_shape.png" alt="shape" class="shape_2 rotate_elem">
                        <img src="{{frontpageimglink}}cta_image.png" alt="img" class="image-fit">
                        <div class="arrows slideRight">
                            <div class="arrow"></div>
                            <div class="arrow"></div>
                            <div class="arrow"></div>
                            <div class="arrow"></div>
                            <div class="arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrows to_up slideTop">
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
        </div>
    </div>
</section>
{{/page_20_s4_enabled}}
<!-- Cta End -->
{{#footer_enabled}}
    {{> theme_wellko/frontpage/other/footer03 }}
{{/footer_enabled}}