{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page About.
}}
{{> theme_wellko/frontpage/navbar/header3 }}
<!-- Subheader Start -->
{{< theme_wellko/frontpage/page/page_subhdr }}
    
    {{$page_subhdimg_0}}
        {{#page_02_page_subhdimg}}style="background-image: url({{frontpageimglink}}{{page_02_page_subhdimg}});"{{/page_02_page_subhdimg}}
        {{^page_02_page_subhdimg}}style="padding: 70px 0 28px;"{{/page_02_page_subhdimg}}
    {{/page_subhdimg_0}}    

    {{$page_subhdimg_1}}
        {{^page_02_page_subhdimg}}style="font-size: 45px;"{{/page_02_page_subhdimg}}
    {{/page_subhdimg_1}}

    {{$page_subhdimg_2}}
        {{page_02_page_title}}
    {{/page_subhdimg_2}}

    {{$page_subhdimg_3}}
        {{#page_02_page_subhdimg}}
            {{> theme_wellko/frontpage/page/page_subhdr_elm }}
        {{/page_02_page_subhdimg}}
    {{/page_subhdimg_3}}

{{/ theme_wellko/frontpage/page/page_subhdr }}
<!-- Subheader End -->
<!-- About Start -->
{{#page_02_s1_enabled}}
<section class="section about_inner">
    <div class="container">
        <div class="row ">

            <div class="col-lg-6">
                <div class="image_box shadow_1 mb-md-80 wow fadeInLeft">
                    <img src="{{frontpageimglink}}about/about.jpg" alt="img" class="image-fit">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title left-align wow fadeInDown">
                    <p class="subtitle">
                        <i class="fal fa-book"></i>
                        {{page_02_s1_subtitle}}
                    </p>
                    <h3 class="title">{{page_02_s1_title}}</h3>
                    <p>{{page_02_s1_caption}}</p>
                </div>
                <ul class="about_list row">
                    <li class="col-md-6 wow fadeInUp">
                        <div class="icon">
                            <img src="{{frontpageimglink}}icons/icon_5.png" alt="img" class="image-fit">
                        </div>
                        <div class="text">
                            <h6 class="mb-2">{{page_02_s1_header_1}}</h6>
                            <p class="mb-0">{{page_02_s1_text_1}}</p>
                        </div>
                    </li>
                    <li class="col-md-6 wow fadeInDown">
                        <div class="icon">
                            <img src="{{frontpageimglink}}icons/icon_5.png" alt="img" class="image-fit">
                        </div>
                        <div class="text">
                            <h6 class="mb-2">{{page_02_s1_header_2}}</h6>
                            <p class="mb-0">{{page_02_s1_text_2}}</p>
                        </div>
                    </li>
                    <li class="col-md-6 wow fadeInUp">
                        <div class="icon">
                            <img src="{{frontpageimglink}}icons/icon_5.png" alt="img" class="image-fit">
                        </div>
                        <div class="text">
                            <h6 class="mb-2">{{page_02_s1_header_3}}</h6>
                            <p class="mb-0">{{page_02_s1_text_3}}</p>
                        </div>
                    </li>
                    <li class="col-md-6 wow fadeInDown">
                        <div class="icon">
                            <img src="{{frontpageimglink}}icons/icon_5.png" alt="img" class="image-fit">
                        </div>
                        <div class="text">
                            <h6 class="mb-2">{{page_02_s1_header_4}}</h6>
                            <p class="mb-0">{{page_02_s1_text_4}}</p>
                        </div>
                    </li>
                </ul>
                <a href="{{page_02_s1_button_link}}" class="thm-btn bg-thm-color-three thm-color-three-shadow btn-rectangle wow fadeInDown">
                    {{page_02_s1_button}}
                    <i class="fal fa-chevron-right ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</section>
{{/page_02_s1_enabled}}
<!-- About End -->
<!-- Counter Box Start -->
{{#page_02_s2_enabled}}
<section class="section-padding pt-0">
    <div class="container">
        <div class="row">
            <!-- Box -->
            {{#h2_02_block}}
            <div class="col-lg-3 col-md-6">
                <div class="counter_box wow fadeInUp" data-wow-delay=".{{counter}}ms">
                    <div class="mr-5">
                        <img src="{{frontpageimglink}}icons/icon_{{counter4}}.png" alt="icon" class="image-fit">
                    </div>
                    <div class="text">
                        <div class="counter">
                            <b data-from="0" data-to="{{counting}}">0</b>
                        </div>
                        <p class="mb-0">{{title}}</p>
                    </div>
                </div>
            </div>
            {{/h2_02_block}}
            <!-- Box -->
        </div>
    </div>
</section>
{{/page_02_s2_enabled}}
<!-- Counter Box End -->
<!-- About Us Start -->
{{#page_02_s3_enabled}}
<section class="section section-bg about_bg about style_2" style="background-image: url({{frontpageimglink}}bg/bg_1.png);">
    <div class="container">
        <div class="row justify-content-between flex-row-reverse">
            <div class="col-lg-6">
                <div class="image_boxes style_2 relative z-1 h-100">
                    <img src="{{frontpageimglink}}about/small_2.jpg" class="small_img wow fadeInUp" alt="img">
                    <div class="video_warp style_2 relative z-1 big_img wow fadeInDown">
                        <img src="{{frontpageimglink}}about/about_img_2.jpg" alt="img">
                        <a href="{{page_02_s3_video_link}}" class="popup-youtube transform-center justify-content-center d-flex">
                            <img src="{{frontpageimglink}}icons/youtube.png" alt="icon">
                        </a>
                    </div>
                    <!-- elements -->
                    <img src="{{frontpageimglink}}elements/element_22.png" class="element_1" alt="Element">
                    <img src="{{frontpageimglink}}elements/element_23.png" class="element_2 rotate_elem" alt="Element">
                    <img src="{{frontpageimglink}}elements/element_24.png" class="element_3 rotate_elem" alt="Element">
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 mb-md-80">
                <div class="section-title left-align wow fadeInUp">
                    <p class="subtitle">
                        <i class="fal fa-book"></i>
                        {{page_02_s3_headline}}
                    </p>
                    <h3 class="title">{{page_02_s3_header}}</h3>
                    <p class="mb-0">{{page_02_s3_maintext}} </p>
                </div>
                <ul class="about_list style_2 mb-xl-30 wow fadeInDown">
                    <li>
                        {{page_02_s3_three_text_1}}
                    </li>
                    <li>
                        {{page_02_s3_three_text_2}}
                    </li>
                    <li>
                        {{page_02_s3_three_text_3}}
                    </li>
                </ul>
                <a href="{{page_02_s3_btn_link}}" class="thm-btn bg-thm-color-two thm-color-two-shadow btn-rectangle wow fadeInUp">
                    {{page_02_s3_btn}}
                    <i class="fal fa-chevron-right ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</section>
{{/page_02_s3_enabled}}
<!-- About Us End -->
<!-- Team Start -->
{{#page_02_s4_enabled}}
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title wow fadeInDown">
                    <p class="subtitle">
                        <i class="fal fa-book"></i>
                        {{h1_04_block_headline}}
                    </p>
                    <h3 class="title">{{h1_04_block_header}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Block Start -->
            {{#h1_04_block}}
            <div class="col-lg col-md-6">
                <div class="team_block style_2 wow fadeInDown">
                    <div class="team_img">
                        <img src="{{userpictureURL}}" alt="img" data-wow-delay=".{{counter}}ms" class="image-fit">
                        <a href="{{team_detail_lnk}}" class="thm-btn bg-thm-color-two thm-color-two-shadow btn-circle link">
                            <i class="fal fa-plus"></i>
                        </a>
                    </div>
                    <h6 class="mb-1"><a href="{{team_detail_lnk}}">{{teachername}}</a></h6>
                    <p class="thm-color-two mb-0 font-weight-bold">{{job}}</p>
                </div>
            </div>
            {{/h1_04_block}}
        </div>
    </div>
</section>
{{/page_02_s4_enabled}}
<!-- Team End -->
<!-- Testimonials Start -->
{{#page_02_s5_enabled}}
<section id="page_02_s5" class="section section-bg relative z-1 bg-thm-color-one" style="background-image: url({{frontpageimglink}}bg/bg_4.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title left-align white wow fadeInDown">
                    <p class="subtitle mb-4">
                        <i class="fal fa-book"></i>
                        {{h1_07_block_headline}}
                    </p>
                    <h3 class="title mb-0">{{h1_07_block_header}}<br> {{h1_07_block_maintext}}</h3>
                </div>
            </div>
        </div>
        <div class="testimonial_slider style_2 row wow fadeInUp">
            <!-- Testimonial Item -->
            {{#h1_07_block}}
            <div class="slide-item col-12">
                <div class="testimonial_item style_dark">
                    <div class="author">
                        <div class="image bg-thm-color-two">
                            <img src="{{frontpageimglink}}author/{{counter}}.jpg" alt="img" class="image-fit">
                        </div>
                        <div class="text">
                            <h6 class="mb-0">{{name}}</h6>
                            <p class="mb-0 font-weight-bold thm-color-two">{{job}}</p>
                        </div>
                    </div>
                    <p class="comment">
                        {{comment}}
                    </p>
                    <div class="ratings">
                        <i class="fal fa-star {{rating1}}"></i>
                        <i class="fal fa-star {{rating2}}"></i>
                        <i class="fal fa-star {{rating3}}"></i>
                        <i class="fal fa-star {{rating4}}"></i>
                        <i class="fal fa-star {{rating5}}"></i>
                    </div>
                </div>
            </div>
            {{/h1_07_block}}
            <!-- Testimonial Item -->
         </div>
    </div>
</section>
{{/page_02_s5_enabled}}
<!-- Testimonials End -->
<!-- Sponsors Start -->
{{#page_02_s6_enabled}}
<section id="page_02_s6" class="section-padding">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-auto">
                <div class="sponsors_img">
                    <img src="{{frontpageimglink}}sponsors/1.png" alt="img">
                </div>
            </div>
            <div class="col-auto">
                <div class="sponsors_img">
                    <img src="{{frontpageimglink}}sponsors/2.png" alt="img">
                </div>
            </div>
            <div class="col-auto">
                <div class="sponsors_img">
                    <img src="{{frontpageimglink}}sponsors/3.png" alt="img">
                </div>
            </div>
            <div class="col-auto">
                <div class="sponsors_img">
                    <img src="{{frontpageimglink}}sponsors/4.png" alt="img">
                </div>
            </div>
            <div class="col-auto">
                <div class="sponsors_img">
                    <img src="{{frontpageimglink}}sponsors/5.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
{{/page_02_s6_enabled}}
<!-- Sponsors End -->
{{#footer_enabled}}
    {{> theme_wellko/frontpage/other/footer02 }}
{{/footer_enabled}}
