<img src="{{frontpageimglink}}elements/element_19.png" alt="element" class="element_1 slideRightTwo">
<img src="{{frontpageimglink}}elements/element_10.png" alt="element" class="element_2 zoom-fade">
<img src="{{frontpageimglink}}elements/element_20.png" alt="element" class="element_3 rotate_elem">
<img src="{{frontpageimglink}}elements/element_21.png" alt="element" class="element_4 rotate_elem">