<div id="h2_block02"  class="section-padding">
    <div class="container">
        <div class="row">
            {{#h2_02_block}}
            <!-- Box -->
            <div class="{{col}}">
                <div class="counter_box wow fadeInUp" data-wow-delay=".{{counter4}}s">
                    <div class="mr-5">
                        <img src="{{frontpageimglink}}icons/icon_{{counter4}}.png" alt="icon" class="image-fit">
                    </div>
                    <div class="text">
                        <div class="counter">
                            <b data-from="0" data-to="{{counting}}">{{counting}}</b>
                        </div>
                        <p class="mb-0">{{{title}}}</p>
                    </div>
                </div>
            </div>
            <!-- Box -->
            {{/h2_02_block}}
        </div>
    </div>
</div>