<div id="h2_block07" class="bg-thm-color-two plane_box relative z-1">
    <div class="container relative z-1">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-11 relative z-1">
                <img src="{{frontpageimglink}}elements/element_6.png" class="element_1 rotate_elem" alt="Element">
                <h2 class="thm-color-white">{{h2_07_block_caption}}</h2>
            </div>
        </div>
        <img src="{{frontpageimglink}}elements/element_7.png" class="element_2 zoom-fade" alt="Element">
    </div>
</div>
